.details {
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
  border: 1px solid rgba($primary, 0.25);

  &__summary {
    color: $primary;

    &:hover {
      text-decoration: underline;
    }
  }

  &__content {
    font-size: initial;
  }
}
