.drag-drop-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  margin-top: 20px;
  margin-bottom: 20px;

  transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out;

  &--active,
  &:hover {
    background-color: #f5f5f5;
    border-color: $primary;
  }

  &__text {
    margin: 0;
  }
}
