.reading-width {
  max-width: 1200px;
  background-color: #e9ecef;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.card-deck {
  margin-bottom: 20px;
}

.clickable-card {
  max-width: calc((100% / 3) - 30px);
}