$primary: #005554;
$feature: lighten(desaturate($primary, 25), 10);

$font-family-sans-serif: Lexend, "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "bootstrap/scss/bootstrap.scss";
@import "./partials/animations";
@import "./partials/typography";
@import "./partials/layout";
@import "./partials/forms";

html,
body,
#root {
  min-height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  width: 100%;
}

.form-button {
  margin-top: 15px;
  background-color: #005554;
  border: none;

  &:hover {
    border: none;
    background-color: #005553c9;
    text-decoration: none;
  }
}

.card-link {
  width: fit-content;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  transition: box-shadow 150ms ease-in-out, border-color 150ms ease-in-out,
    transform 150ms ease-in-out;
  border: 1px solid transparent;

  &:hover {
    transform: translateY(-2px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-color: $primary;
  }

  &:focus {
    border-color: $primary;
  }

  @media screen and (max-width: 575px) {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.card {
  &--login {
    width: 100%;
    max-width: 400px;
  }

  &--shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

@import "./partials/overrides";
